/* -------------RESETS------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --clr-primary: #ffa700;
  --clr-light: #fff;
  --clr-dark: #2b2b2b;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  --font: "Poppins", sans-serif;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: var(--clr-dark);
  font-family: var(--font);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  padding: 2rem 0;
  background-color: var(--clr-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  z-index: 999;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__logo h5 {
  color: var(--clr-light);
  font-size: 18px;
  font-weight: 700;
}

.header__logo h5>span {
  color: var(--clr-primary)
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.header__nav ul li a {
  color: var(--clr-light)
}

.header__nav ul li a:hover {
  color: var(--clr-primary);
  transition: 0.1s ease-in-out;
}

.toggle__menu {
  display: none;
}

.toggle__menu span {
  color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
}

@media screen and (max-width: 520px) {
  .header__logo h5 {
    display: none;
  }

  .header {
    position: fixed;
    width: 100%;
  }

  .header__nav ul {
    background-color: var(--clr-dark);
    height: 100vh;
    width: 100%;
    position: fixed;
    right: -100%;
    z-index: 99;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .header__nav.open ul {
    right: 0;
    transition: all 0.5s ease;
  }

  .toggle__menu.open span:first-child {
    transform: translate(0, 10px) rotate(225deg);
    transition: all 0.5s ease;
  }

  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
  }

  .toggle__menu.open span:last-child {
    transform: translate(0, -7.5px) rotate(-225deg);
    transition: all 0.5s ease;
  }
}

.banner {
  padding: 4rem 0;
  background: var(--clr-light);
}

.banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}

.banner__text h1 {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 71px;
  max-width: 10rem;
  line-height: 7rem;
}

.banner__text p {
  margin: 3rem 0;
}

@media screen and (max-width: 520px) {
  .banner__wrapper {
    display: unset;
  }

  .banner__text h1 {
    font-size: 40px;
    max-width: unset;
    line-height: 5rem;
    margin-top: 20rem;
    text-align: center;
    margin-left: 0px;

  }
}

.skills {
  padding: 4rm 0;
  background-color: var(--clr-dark);
}

.skills__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.skills__card {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: center;
}

.skills__card h5 {
  font-size: 24px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-top: 2rem;
}

.skills__card p {
  color: var(--clr-light);
  margin: 3rem 0;
  text-align: justify;
}

@media screen and (max-width: 520px) {
  .skills__wrapper {
    flex: wrap;
  }
}

.about {
  padding: 4rem 0;
  background-color: var(--clr-light);
}

.about__wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.about__img {
  position: relative;
}

.about__img::before {
  position: absolute;
  display: inline-block;
  content: " ";
  background-color: var(--clr-primary);
  width: 477px;
  height: 477px;
  border-radius: 100%;
  left: 0;
  opacity: .3;
}

.about__text h2 {
  font-size: 48px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.about__text p:last-child {
  margin-top: 2rem;
}

@media screen and (max-width: 520px) {
  .about__wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .about__img::before {
    width: 475px;
    height: 475px;
  }

  .about__text h2 {
    font-size: 36px;
    text-align: center;
  }

  .about__text p {
    text-align: center;
  }
}

.trends {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}

.trends__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}

@media screen and (max-width: 520px) {
  .trends__wrapper {
    flex-wrap: wrap;
  }
}

.cta {
  padding: 5rem 0;
  background-color: var(--clr-primary);
}

.cta__info {
  text-align: center;
}

.cta__info h3 {
  font-size: 36px;
  font-weight: 600;
}

.cta__info {
  font-size: 24px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 520px) {
  .cta__info h3 {
    font-size: 24px;
    margin-bottom: 1rem;
  }
}

.footer {
  padding: 2rem;
  background-color: var(--clr-dark);
  color: var(--clr-light)
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.footer__social {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.footer__social li a {
  color: var(--clr-light);
  font-size: 18px;
}

.footer__social li a:hover {
  color: var(--clr-primary)
}

@media screen and (max-width: 520px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}

.aboutme {
  padding: 4rem 0;
  background-color: var(--clr-light);
}

.aboutme__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}

.button {
  text-align: center;
}

.button a {
  color: var(--clr-primary);
  font-size: 40px;
}

.aboutme__text {
  text-align: justify;
  margin-right: 11rem;
  padding-top: 2rem;
}

.aboutme__text h1 {
  font-size: 90px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 3rem;
}

.aboutme__text p {
  margin-top: 5rem;
}

.aboutme__img {
  padding: 5rem;
}

.aboutme__social {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 5rem 0;
}

.aboutme__social li a {
  color: var(--clr-primary);
  font-size: 30px;
}

.aboutme__social li a:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 520px) {
  .about__me {
    padding: unset;
  }

  .aboutme__wrapper {
    display: unset;
    grid-template-columns: 1fr;
  }

  .aboutme__text {
    text-align: center;
    margin-right: 0rem;
    padding-top: 2rem;
  }

  .aboutme__text h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: none;
  }

  .aboutme__social {
    justify-content: center;
  }

  .aboutme__img {
    padding: unset;
    justify-content: center;
  }

  .services__text p:nth-child(4) {
    text-align: center;
  }

  .services__text h5 {
    text-align: center;
  }

  .services__text h6 {
    text-align: center;
  }

  .services__img {
    justify-content: center;
    padding: 3rem;
  }

}

.project {
  padding: 4rem 0;
  background-color: var(--clr-dark);
}

.project__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 3rem;
  margin-bottom: 5rem;

}

.project__title h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary)
}

.project__title p {
  color: var(--clr-light);
}

@media screen and (max-width: 520px) {
  .project {
    padding: 1rem 0;
  }

  .project__wrapper {
    grid-template-columns: 1fr;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .project .project__title h2 {
    font-size: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
  }

  .project .project__title p {
    color: var(--clr-light);
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }


}

.services {
  padding: 2rem 0;
  background-color: var(--clr-light);
}

.services__wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.services__wrapper:first-child {
  min-height: 85vh;
}

.services__wrapper .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 2rem 0;
  align-items: center;
}

.services__wrapper:nth-child(even) {
  background-color: var(--clr-dark);
}

.services__wrapper:nth-child(even) .container {
  direction: rtl;
}

.services__wrapper:nth-child(even) .container>* {
  direction: ltr;
}

.services__wrapper:nth-child(even) .services__text p,
.services__wrapper:nth-child(even) .services__text h6 {
  color: var(--clr-light);
}

.services__text h2 {
  font-weight: 700;
  font-size: 65px;
  color: var(--clr-primary);
}

.services__text p {
  text-align: justify;
  margin-top: 2rem;
}

.services__text p:nth-of-type(3) {
  margin-top: 6rem;
}

.services__text h5 {
  font-size: 36px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-top: 1rem;
}

.services__text h6 {
  font-size: 14px;
  margin-top: 1rem;
}

.services__img img {
  width: 100%;
  height: auto;
  padding-left: 40px;
  display: block;
}

.services__wrapper:nth-child(even) .services__img img {
  padding-left: 0;
  padding-right: 40px;
}

.services .chevron {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.services__wrapper:last-child .chevron {
  display: none;
}

.services__wrapper:last-child {
  min-height: 90vh;
}

@media screen and (max-width: 520px) {
  .services {
    padding: unset;
  }

  .services__wrapper .container {
    display: unset;
  }

  .services__wrapper:first-child {
    min-height: 190vh;
  }

  .services__text h2 {
    font-size: 40px;
    text-align: center;
  }

  .services__text p {
    margin: 3rem;
  }
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 20px 0;
}

.update__wrapper {
  display: flex;
  gap: 10px;
  column-gap: 40px;
}

.update__left {
  flex: 2;
}

.update__right {
  flex: 1;
}

.post {
  margin-bottom: 50px;
}

.post img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 15px;
}

.post__meta {
  font-size: 14px;
  color: #666;
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
  align-items: center;
}

.post__meta span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post__meta i {
  color: var(--clr-dark);
  font-size: 14px;
}

.post h3 {
  font-size: 22px;
  font-weight: 700;
  color: #f39c12;
  margin-bottom: 15px;
}

.post p {
  line-height: 1.6;
  margin-bottom: 15px;
}

.post a {
  color: #f39c12;
  text-decoration: none;
  font-weight: bold;
}

.sidebar__section {
  margin-bottom: 150px;
}

.sidebar__section h4 {
  color: var(--clr-primary);
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.sidebar__section ul {
  list-style: none;
}

.sidebar__section ul li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.recent {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.recent img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 4px;
}

.recent small {
  color: var(--clr-dark);
}

.sidebar__section .tags {
  row-gap: 100px;
}

.tags button {
  border: 0px solid --clr-light;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
}

.tags button:hover {
  background: var(--clr-primary);
  color: var(--clr-light);
  border-color: var(--clr-primary);
}

.tags button.active {
  background: var(--clr-dark);
  color: var(--clr-light);
  border: none;
}

.title {
  margin-bottom: 70px;
}

@media screen and (max-width: 520px) {
  .update__wrapper {
    display: unset;
  }
}

.contacts {
  padding-top: 5rem;
  padding-bottom: 15rem;
  background-color: var(--clr-dark);
}

.contacts__wrapper {
  display: flex;
  column-gap: 5rem;
}

.contacts__left h2 {
  font-size: 50px;
  font-weight: 700;
  color: var(--clr-primary);
  margin-bottom: 5rem;
}

.contacts__left p {
  margin-right: 1rem;
  text-align: justify;
  line-height: 3rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.contact__info {
  color: var(--clr-light);
  line-height: 5rem;
}

.contact__info i {
  color: var(--clr-primary);
  margin-right: 3rem;
}

.contacts__left p {
  color: var(--clr-light);
}

.contact__social {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 5rem 0;
}

.contact__social li a {
  color: var(--clr-primary);
  font-size: 30px;
}

.contact__social li a:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}

.contact__form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact__form input,
.contact__form area {
  background: var(--clr-light);
  border: none;
  padding: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  outline: none;
  width: 550px;
}

.contact__form textarea {
  height: 130px;
  resize: none;
  font-size: 14px;
  outline: none;
  padding: 20px;
  letter-spacing: 1px;
}

.contacts__right {
  padding-top: 10rem;
}

.btn.bg--primary {
  margin-top: 5rem;
}

.contact__button {
  text-align: right;
}

.title h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--clr-primary)
}

.trends .title p {
  color: var(--clr-light);
}

.cards {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--clr-light);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.cards img {
  display: block;
  width: 100%;
  height: 50rem;
  object-fit: cover;
  transition: transform 0.5s;
  transition: all 0.5 ease-in-out;
}

.card__details {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  height: 0;
  left: 3.5rem;
  background-color: var(--clr-light);
  width: 28rem;
  padding: 0 2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.card__details h5 {
  font-size: 18px;
  color: var(--clr-primary);
  font-weight: 700;
  margin-bottom: 2rem;
}

.card__details p {
  margin-bottom: 3rem;
}

.cards:hover img {
  height: 50rem;
  transform: scale(1.2);
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.cards:hover .card__details {
  height: 45%;
  transition: all 0.5s ease-in-out;
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: transparent;
  padding: 1rem 2rem;
  color: transparent;
  border-radius: 10rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn.bg--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);

}

.btn.bg--primary:hover {
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}

.btn.bg--dark {
  background-color: var(--clr-dark);
  color: var(--clr-light);

}

.btn.bg--dark:hover {
  border: 1px solid --clr-dark;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  transition: all 0.5 ease-in-out;
}

.no-bg-btn {
  color: var(--clr-primary);
  transition: all 0.5s ease-in-out;
}

.no-bg-btn:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}

.aboutme__button {
  font-size: 30px;
}

.aboutme__button a {
  color: var(--clr-primary);

}

.chevron a {
  font-size: 40px;
  color: var(--clr-primary);
}

.aboutme__button a:hover {
  color: var(--clr-dark);
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 520px) {
  .title h2 {
    font-size: 36px;
  }

  .cards__details {
    width: 36px;
    height: 45%;
  }
}